html, body, #wrap {
	height: 100%;
	background-color: #ebebeb;
}

body > #wrap {
	min-height: 100%;
	height: auto;
	padding-bottom: 60px;
}

.input-mini{
	max-width:60px;
}
.input-medium{
	max-width:150px;
}

.ui-helper-hidden-accessible div{
display:none;
}
.ui-autocomplete{
	list-style-type:none;
	background:#ffffff;
	box-shadow:0 0 5px rgba(0,0,0,0.4);
	max-width:300px;
	margin:0;
	z-index: 2000;
	padding:0;
}
.ui-autocomplete li{
	padding:10px;
	transition:all 0.2s eas-in-out;
	cursor:pointer;
	color:#222222;
	min-height: 70px;
	margin:0;
}
.ui-autocomplete li img{
	margin: 0 15px 0 0;
}
.ui-autocomplete li small{
	color:#cecece;
	font-style: italic;
}
.ui-autocomplete li:hover{
	background-color:#4FC1E9;
	color:#ffffff;
}
.ui-autocomplete li:hover a{
	color:#ffffff;
}

.dropdown-menu li a{
	cursor:pointer;
}

#sketchBlock h2,#componentBlock h2{
	margin:0 10px 0 0;
	display:inline-block;
	vertical-align:top;
}

.footer{
	position: relative;
	height: 60px;
	margin-top: -60px;
	padding: 20px 0;
	color: #ffffff;
	text-align: center;
}


#resources .list-group-item:nth-child(2){
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.list-group-item.active i{
	color:#ffffff;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

div.CodeMirror{
	height:auto;
}

.navbar {
	border-radius:0px;
}
#sketchTitle{
	margin-bottom:0;
}

#sketchTitle input{
	border:none;
	border-bottom: 1px solid #cecece;
	font-size: 30px;
    font-weight: 200;
	background-color:#EBEBEB;
	width:100%;
	transition:all 0.2s ease-in-out;
}
#sketchTitle input:focus{
	color:#4FC1E9;
	border-color: #4FC1E9;
}

#resourceContent{
	padding-top: 12px;
}

.resources a{
	position:relative;
	cursor:pointer;
}
.resources-options{
	position:absolute;
	right:5px;
	top:5px;
	opacity:0;
	color:#777777;
	transition:opacity 0.2s ease-in-out;
}
.resources a:hover .resources-options{
	opacity:0.8;
}
.resources-options i{
	transition:color 0.2s ease-in-out;
}
.resources-options i:hover{
	color:#000;
}

.sketchOptions{
	list-style-type: none;
	margin:0;
	padding:0;
	float:right;
}

.sketchOptions li{
	display: inline-block;
}

.sketchOptions li i{
	cursor:pointer;
	color:#6D6D6D;
	font-size: 20px;
	font-weight: normal;
	position:relative;
	transition:all 0.2s ease-in-out;
	margin:5px 5px 0 0;
}
.sketchOptions li:hover i{
	color:#4FC1E9;
	font-size: 26px;
	margin:0;
}

#dropZoneFiles{
	background: #f8f8f8 none repeat scroll 0 0;
    border-bottom: 5px solid #f2f2f2;
    color: #818181;
    cursor: pointer;
    font-size: 20px;
    padding: 15px;
	text-transform:uppercase;
    text-align: center;
}


#resource{
	transition:all 0.5s linear;
}
#sketchs{
	margin-bottom:0;
}
#sketchs.table tbody tr td{
	vertical-align:middle;
}
#sketchs tbody tr{
	cursor:pointer;
}



#sketchs tbody tr a{
	
	display:block;
	width:100%;
	height:100%;
}

#files tbody a{
	color:#222222;
	font-size:20px;
	line-height:32px;
	transition: color 0.2s linear;
}
#files tbody a:hover{
	color:#4FC1E9;
}
#files tbody a i{
	color:#cecece;
	font-size:25px;
	font-weight:normal;
}

#parts tbody td{
	vertical-align:middle;
}
#parts tbody td a,#parts tbody td code,#parts tbody td div{
	vertical-align:middle;
	display:inline-block;
	font-size:18px;
}
#parts tbody td i{
	font-size:14px;
}
#parts tbody td div{
	margin-right:10px;
}

#loginBlock{
	max-width:500px;
	margin:10px auto 10px auto;
	padding:15px;
}
#loginBlock h2{
	margin-top:0;
}

#loginForm {
    color: #8c8c8c;
    margin: 15px 0px 0 0;
}
#loginForm input {
    width: 100px;
    height: auto;
    border-radius: 0;
    padding: 0 5px 0 5px;
}

.componentImage{
	width:100px;
	height:100px;
	background:#ffffff;
	box-shadow: 0 0 5px 2px #e3e3e3;
	overflow:hidden;
	display:table-cell;
	vertical-align:middle;
}
.componentImage img{
	vertical-align:middle;
	display:inline-block;
}
.preloader{
	display:none;
	background : url('../img/preloader.gif') center center no-repeat ;
	width:64px;
	height:64px;
	margin:10% auto;
}

.pulse:hover {
    -webkit-animation: pop-in 0.3s;
    -moz-animation: pop-in 0.3s;
    -ms-animation: pop-in 0.3s;
}
.btn.btn-rounded {
    border-radius: 40px;
}
.btn-mini {
    padding: 0 4px;
	font-size:14px!important;
    border-radius: 4px;
}

.dz-preview{
	display:none;
}

.dz-default{
	padding:5px;
	background:#656D78;
	color:#ffffff;
	cursor:pointer;
	text-align: center;
}

a.navbar-brand {
    padding-left: 45px;
    background: url('../img/icon.png') no-repeat 5px center !important;
}

/* ANIMATIONS */

@-webkit-keyframes pop-in {
0% {  -webkit-transform: scale(1); }
50% {  -webkit-transform: scale(1.3); }
100% {  -webkit-transform: scale(1); }
}
@-moz-keyframes pop-in {
0% {  -moz-transform: scale(1); }
50% {  -moz-transform: scale(1.3); }
100% {  -moz-transform: scale(1); }
}
@keyframes pop-in {
0% {  transform: scale(1); }
50% {  transform: scale(1.3); }
100% { transform: scale(1); }
}
